<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OBS_Sistem.Properties.Settings.Okul_obsConnectionString"
            connectionString="Data Source=DESKTOP-HBC1R06;Initial Catalog=Okul_obs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>